
EnjoyTripSpringBoot/src/main/resources/application.properties
EnjoyTripSpringBoot/src/main/resources/application.properties
*.properties
EnjoyTripSpringBoot/src/main/resources/application.properties
